@import url("general.css");

@import url(https://fonts.googleapis.com/css?family=Lato:900,400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600);

/*@font-face {
    font-family: 'webfonts-regular';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'webfonts-semibold';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'webfonts-bold';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'webfonts-light';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'webfonts-italic';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'webfonts-bolditalic';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'webfonts-condbold';
    src: url('https://www.phen375.com/fonts/open-sans/OpenSans-CondBold.ttf');
}*/
@font-face {
    font-family: 'webfonts-regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'webfonts-semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'webfonts-bold';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'webfonts-light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'webfonts-italic';
    src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'webfonts-bolditalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'webfonts-condbold';
    src: url('../fonts/OpenSans-CondBold.ttf');
}
body {
    font-family: webfonts-regular !important;
    font-size: 16px;
}
h1,h2,h3,h4,h5 {
    font-family: webfonts-semibold !important;
}

/****************************************************
** Sun Pyramid Health | Franco Salas
** Layouts/default.ctp
****************************************************/
.block-span {
    display: block;
}

.disp-none {
    display: none;
}

.bold {
    font-weight: bold;
}

.tracking-info .alert-info {
    margin-top: 20px;
}

.tracking-info .alert h3 {
    margin-top: 0;
}

.select-container {
    width: 80%;
    margin: 10px 0;
}

.center-img {
    margin: 0 auto;
}

.block-btn {
    display: block;
}

.clearfix {
    clear: both;
}

.b-bottom {
    border-right: none;
}

.b-right, .spcl-b-right {
    border-right: 1px solid #167dc6;
}

.b-top {
    border-top: 1px solid #167dc6;
}

.blue {
    color: #0b6cb1;
}

.white {
    color: #fff;
}

#affiliate {
    margin-bottom: 50px;
}

#affiliate .aff-btn {
    margin-top: 40px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

 #bonus .label {
    background-color: #555;
    box-shadow: inset 0 0 1px #333;
    border-color: #222;
    letter-spacing: 10px;
    padding-left: 15px!important;
}


/**********************************************************************
* Index - version 2
********************************************************************/

    .white {
        color: #fff;
    }

    .blue {
        color: #167dc7;
    }

    .dark-blue {
        color: #3c5a98;
    }

    .blue-bk {
        background-color: #167dc7;
    }

    .special-font {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    .light {
        font-weight: 300;
    }

    .semi-bold {
        font-weight: 600;
    }

    .bold {
        font-weight: 700;
    }

    .extra-bold {
        font-weight: 800;
    }

    .main-banner, .last-banner {
        background-color: #f8f7f7;
    }

    #parallax {
        background-image: url(../../dc411ibrlpprl.cloudfront.net/newphen375/parallax-image.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        margin: 50px 0;
    }

    #parallax .w20 {
        width: 20%;
        padding: 0;
    }

    .no-padd {
        padding: 0!important;
    }

    h1.blue span:first-child {
        font-size: 48px;
    }

    h1.blue span:nth-child(2) {
        font-size: 42px;
    }

    p.semi-bold {
        font-size: 16px;
        font-style: italic;
    }

    ul.features {
        list-style: none;
        padding-left: 0;
    }

    ul.features li {
        padding-bottom: 5px;
        font-size: 16px;
    }

    ul.features li img {
        display: inline-block;
    }

    .blue-bk span {
        font-size: 28px;
        margin-bottom: 14px;
    }

    .order-now {
        padding: 5% 0px;
        text-align: center;
    }

    h3.blue {
        font-size: 30px;
    }

    .slimer-container h3 {
        padding: 15px 0;
    }

    .slimer-container p {
        font-size: 15px;
    }

    .slimer-container p.semi-bold {
        font-size: 20px;
        font-style: italic;
    }

    .benefit-container h3 {
        padding: 25px 0;
    }

    .benefit-content {
        font-style: italic;
        font-size: 17px;
        padding: 10px 0 0 0;
    }

    .relevant-info {
        margin-top: 30px;
    }

    .relevant-info p {
        font-size: 18px;
        padding: 15px 0 20px 0;
    }

    .box-border {
        border: 2px solid #f8f7f7;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        padding: 15px 0;
    }

    .box-border span {
        font-size: 18px;
    }

    .box-border .extra-bold {
        font-size: 36px;
        color: #009342;
    }

    .testimonial {
        margin-top: 50px;
    }

    .grey-banner {
        background-color: #f8f7f7;
        padding: 20px 0;
    }

    .grey-banner span {
        font-size: 16px;
        font-style: italic;
    }

    .grey-banner span.extra-bold {
        font-size: 26px;
    }

    .mt-15 {
        margin-top: 15px;
    }

    .change-life p {
        font-size: 18px;
    }

    .change-life p.semi-bold {
        font-size: 24px;
    }

    .last-banner {
        margin-top: 50px;
    }

    .last-banner h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .last-banner h3 {
        font-style: italic;
    }

    .last-banner .seals {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    a[name="trustlink"] {
        margin-top: 15px;
    }

/**************************************************************
/* Testimonial guide
/***************************************************************/
.mt-50 {
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

#testimonial-guide h1, #testimonial-guide h2, #testimonial-guide h3, #testimonial-guide p, #testimonial-guide span {
    font-family: 'Lato', sans-serif !important;
}

#testimonial-guide p, #testimonial-guide span {
    font-size: 24px;
    font-weight: 300;
}

#testimonial-guide p {
    padding: 30px 18px;
}

#testimonial-guide h1 {
    font-size: 50px;
    font-weight: 300;
}

#testimonial-guide h1.blue > span.bold {
    font-size: 90px;
    font-weight: 900;
}

#testimonial-guide h2 {
    font-size: 32px;
    margin-top: 15px;
}

#testimonial-guide .block-span {
    font-size: 24px;
}

#testimonial-guide span.bold {
    font-weight: 900;
}

#testimonial-guide .video-reward {
    top: 141px;
    right: 0;
    width: 40%;
}

#testimonial-guide .bor-bot-20 {
    border-bottom: 20px solid #167dc7;
}

#testimonial-guide .send-video h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#testimonial-guide .send-video .spcl-btn-green {
    margin-top: 30px;
}

#testimonial-guide .picture-sample .picture-reward {
    margin-top: 25px;
    width: 80%;
}

#testimonial-guide .picture-sample .spcl-btn-green {
    margin-left: 15px;
}

#testimonial-guide .blue-banner {
    padding: 15px;
}

#testimonial-guide .spcl-btn-green {
    position: relative;
    padding: 10px 40px;
    float: left;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    background-color: #3498DB;
    /* fallback */
    background-color: #a3dd17;
    background-repeat: repeat-x;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e8c12), to(#a3dd17));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #a3dd17, #4e8c12);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #a3dd17, #4e8c12);
    /* IE 10 */
    background: -ms-linear-gradient(top, #a3dd17, #4e8c12);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #a3dd17, #4e8c12);
    border-bottom: 5px solid #315207;
    text-shadow: 0px 2px #44661f;
    text-transform: uppercase;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#testimonial-guide .spcl-btn-green:hover,
#testimonial-guide .spcl-btn-green:focus {
    text-decoration: none;
    color: #fff;
}

#testimonial-guide .spcl-btn-green:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#testimonial-guide .blue-bk {
    background: #167dc7;
    padding-bottom: 10px;
}

#testimonial-guide .grey-bk {
    background: #f7f7f7;
    padding-bottom: 20px;
}

#testimonial-guide .grey-bk h3 {
    font-size: 45px;
    margin-bottom: 50px;
}

#testimonial-guide .grey-bk p {
    padding: 30px 0;
}

#testimonial-guide .icons span {
    padding: 5px 20px;
}

#testimonial-guide .reward h3 {
    font-size: 50px;
}

#testimonial-guide .reward p {
    padding: 20px 0;
}

#testimonial-guide .disclaimer {
    margin-bottom: 50px;
    margin-top: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*thank you page after testimonial form*/
#thankyou-testimonial {
    background-image: url('../../dc411ibrlpprl.cloudfront.net/newphen375/phen375-thankyou-testimonial-form.jpg');
    background-repeat: no-repeat;
    height: 600px;
    margin: 30px auto;
}

#thankyou-testimonial .content {
    margin-top: 20%;
}

#thankyou-testimonial .content h1 {
    font-family: 'webfonts-bold' !important;
    font-size: 42px;
}

/********************************************************************
*   Upsell- variation 1
********************************************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
    .container h1, .container h2, .container span {
        font-family: 'Open Sans', sans-serif !important;
    }
    .upsell-titles {
        margin-bottom: 60px;
    }
    .upsell-titles h1 {
        font-size: 46px;
        margin-bottom: 5px;
    }
    .upsell-titles h2 {
        margin-top: 0;
    }
    .upsell-titles h2 span:first-child {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .df-ingredients > div {
        height: 130px;
        margin-bottom: 30px;
    }
    .df-ingredients > div > span {
        margin-top: 5px;
    }
    .discount-title {
        font-size: 42px;
        margin-bottom: 60px;
    }
    .product-container {
        border: 1px solid #eee;
        padding: 20px;
    }
    .product-container-superdeal {
        background: url('../../dc411ibrlpprl.cloudfront.net/digest-fast/background.jpg');
        background-size: cover;
        border: 5px solid #ffce39;
        padding: 20px;
    }
    .product-container .img-container {
        padding: 20px 40px 40px;
    }
    .product-container .img-container-superdeal {
        padding: 20px 20px 15px;
    }
    .product-container .capsules, .product-container-superdeal .capsules {
        font-size: 22px;
        letter-spacing: 1px;
    }
    .product-container .previous-price, .product-container-superdeal .previous-price {
        font-size: 48px;
        text-decoration: line-through;
        color: #5c5c5c;
    }
    .product-container-superdeal .previous-price {
        color: #ffdf7a;
    }
    .product-container .current-price, .product-container-superdeal .current-price {
        font-size: 48px;
        color: #363636;
    }
    .product-container-superdeal .current-price {
        color: #ffc30b;
    }
    .product-container .info-lbl, .product-container-superdeal .info-lbl {
        font-size: 15px;
        line-height: 20px;
        padding: 10px 42px 20px 42px;
    }
    .product-container ul, .product-container-superdeal ul {
        border-bottom: 1px solid  #444;
        border-top: 1px solid  #444;
        font-size: 16px;
        list-style: none;
        padding: 20px;
    }
    .product-container ul li, .product-container-superdeal ul li {
        border-bottom: 1px solid #eee;
        padding-bottom: 8px;
        padding-top: 5px;
    }
    .product-container-superdeal .capsules, .product-container-superdeal .info-lbl, .product-container-superdeal ul, .product-container-superdeal ul li {
        color: #fff;
    }
    .product-container-superdeal ul {
        border-bottom: 1px solid  #fff;
        border-top: 1px solid  #fff;
    }
    .glyphicon-ok {
        padding-right: 10px;
    }
    .green {
        color: #009342;
    }
    .upsell-link {
        border: 3px solid #fcdd11;
        /* fallback */
        background-color: #fcdd11;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fed557), to(#ffc208));
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(top, #ffc208, #fed557);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(top, #ffc208, #fed557);
        /* IE 10 */
        background: -ms-linear-gradient(top, #ffc208, #fed557);
        /* Opera 11.10+ */
        background: -o-linear-gradient(top, #ffc208, #fed557);
        color: #000;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 12px 0;
    }
    .thanks-btn {
        margin: 50px 0;
    }
    .thanks-btn a.no-thank {
        font-size: 28px;
    }

/*Media queries*/
@media only screen and (min-width: 768px) {
    .menu-phone {
        display: none;
    }
    .big-menu {
        display: block;
    }
}

@media only screen and (max-width:767px) {

/***************************************************************************/
    /** Index v2 - winner a/b test **/
    .main-banner .sub-container h1.blue,  .blue-banner-text, .seal-text {
        text-align: center;
    }

    .main-banner .sub-container img.img-responsive, .seal-img {
        margin: 0 auto;
    }

    .main-banner .sub-container p, .main-banner .sub-container ul.features {
        padding: 0 30px;
    }

    .benefit-container .benefit-content {
        text-align: center;
        margin-bottom: 20px;
    }

    a[name="trustlink"] {
        margin-top: 10px;
    }

/********************************************************************************/

    .menu-phone {
        display: block;
    }

    .big-menu {
        display: none;
    }

    .b-bottom {
        border-bottom: 1px solid #167dc6;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .spcl-b-right {
        border-right: none;
    }

    .col-xs-12 img.containerBill-item-img {
        padding-left: 0;
        margin: 0 auto;
    }

    /**************************************************************
    /* Testimonial guide
    /***************************************************************/

    #testimonial-guide p, #testimonial-guide span {
        font-size: 20px;
        font-weight: 300;
    }

    #testimonial-guide .first-sec p {
        padding: 30px 18px;
    }

    #testimonial-guide h1.blue > span.bold {
        font-size: 50px;
        font-weight: 900;
    }

    #testimonial-guide h1 {
        text-align: center;
    }

    #testimonial-guide h2 {
        font-size: 32px;
        margin-top: 15px;
    }

    #testimonial-guide .block-span {
        font-size: 20px;
    }

    #testimonial-guide .video-reward {
        top: 60px;
        right: 0;
        width: 40%;
    }

    #testimonial-guide .bor-bot-20 {
        border-bottom: 20px solid #167dc7;
    }

    #testimonial-guide .send-video h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    #testimonial-guide .send-video .spcl-btn-green {
        margin-top: 0;
    }

    #testimonial-guide .picture-sample .picture-reward {
        margin-top: 25px;
        width: 80%;
    }

    #testimonial-guide .blue-banner {
        padding: 15px;
    }

    #testimonial-guide .spcl-btn-green {
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    #testimonial-guide .pic-sample {
        padding-top: 50px;
    }

    #testimonial-guide .blue-bk {
        background: #167dc7;
        padding-bottom: 10px;
    }

    #testimonial-guide .grey-bk {
        background: #f7f7f7;
        padding-bottom: 20px;
    }

    #testimonial-guide .grey-bk h3 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    #testimonial-guide .grey-bk p {
        padding: 30px 0;
    }

    #testimonial-guide .icons {
        margin-bottom: 25px;
    }

    #testimonial-guide .icons span {
        padding: 5px 0;
    }

    #testimonial-guide .reward h3 {
        font-size: 50px;
    }

    #testimonial-guide .reward p {
        padding: 10px 0;
    }

    #testimonial-guide .disclaimer {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    #thankyou-testimonial {
        background-image: none;
        height: auto;
    }
}
@media only screen and (max-width: 479px) {
    #changLangPhone {
        width: 100px;
    }

    #currchangePhone {
        width: 60px;
    }

    .select-container {
        width: 60%;
        margin: 10px 0;
    }
}

/*****************************************************/
/* Sun Pyramid Health | Ing. Cesar Cordero*/
/*****************************************************/
.featured-glass{
    color: #59b984;
    list-style-type: none;
    padding-top: 30px;
    padding-left: 0;
}

.featured-glass li{
    padding-bottom:40px;
    font-size: 16px;
}

.featured-glass li strong {
    color: #009944;
}

.security {
    margin-top: 20px;
}

/*Testimonials "Learn More"*/
.containerLearnMore{
    background-color:#167dc7;
    padding-bottom: 10px;
}

.containerLearnMore-text{
    color: #fff;
    font-size: 24px;
    padding-top: 44px;
}

.containerLearnMore-btn{
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
}

.colorBlueDefault{
    background-color: #39b54a;
    padding: 8px 20px;
}

.btn-container {
    margin: 30px 0;
}

/**********************************************************/
.spacer {
    padding:20px 0;
}
.break {
    padding:10px 0;
}
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.right {
    float: right !important;
}
.text-right {
    text-align: right;
}
.center {
    text-align: center;
}
/* header */
.top-link {
    color: #888888;
    opacity: 0.7;
    width:420px;/*457px*/
    padding-left:40px;
}

.top-link li {
    display: inline-block;
    padding: 0 5px;
}
.top-link li:last-child {
    padding: 0;
}
.top-link li a {
    color: #293b4d;
    text-transform: uppercase;
    /* changed size*/
    font-size: 11px;
}
.top-link li a:hover {
    text-decoration: none;
}
.top-link select {
    padding: 3px 10px 3px 5px;
    font-family: webfonts-italic;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #888888;
    font-size: 14px;
}
.top-img {
    font-size: 14px;
    margin-top: 2px;
    margin-right: 0px;
    color: #3c5a98;
    font-family: webfonts-bolditalic !important;
}
.top-img2 {
    font-size: 12px;
    margin-top: 2px;
    margin-right: -60px;
    color: #3c5a98;
    font-family: webfonts-bolditalic !important;
}
.top-img img{
    float: left;
    padding-right: 5px;
}
.top-img div:first-child {
    padding: 0px;
    /*width: 130px;*/
    width: 129px;
}
.top-img div:nth-child(2) {
    width: 181px;
}
.top-img div {
    padding: 0px;
    /*width: 170px;*/
    width: 160px;
}
.top-img div:last-child {
    padding: 0px;
    width: 155px;
}
/* end-header */
/* navigation*/
.navbar-collapse {
    padding: 0 !important;
}
.navbar {
    margin-bottom: 0px !important;
    margin-top:6px;
}

.max-nav li{
    width: 16.66%;
    border-top: 1px solid #eee;
    border-bottom: 3px solid #167dc7;
    text-align: center;
    padding: 0;
    margin-bottom: 4px;
}
.max-nav li:first-child{
    width: 11.66%;
}
.max-nav li:nth-child(2){
    width: 19%;
}
.max-nav li:nth-child(3){
    width: 25%;
}
.max-nav li:nth-child(4){
    width: 17.86%;
}
.max-nav li:nth-child(5){
    width: 8.76%;
}

.max-nav li a {
    text-transform: uppercase;
    font-size: 16px;
    color: #444444;
    font-weight: bold;
    padding: 13px 0 !important;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 57%, #e8e8e8 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffffff), color-stop(97%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 57%,#e8e8e8 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
.highlight {
    border-bottom: 3px solid #e59100 !important;
}
.highlight a{
    background: #ffd65b !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65b', endColorstr='#ffc000',GradientType=0 ) !important; /* IE6-9 */
}
/* end-navigation */
/* end-banner */
.banner {
    height: 464px;
    background: url(../../dc411ibrlpprl.cloudfront.net/banner.jpg) no-repeat;
    background-size: 100% 464px;
    margin-top: -2px;
}
.banner h1 {
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 49px;
    color: #167dc7;
    line-height: 0.2em;
    font-family: webfonts-bold !important;
}
.banner #span1 {
    color: #167dc7;
    display: block;
    font-size: 44px !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    font-size: 36px;
    font-family: webfonts-light !important;
}
.banner #span2 {
    color: #167dc7;line-height: 0.5em;
    margin-bottom: 20px;
    font-size: 36px !important;
    display: block;
    font-weight: 100 !important;
    text-transform: uppercase;
    font-size: 36px;
    font-family: webfonts-light !important;
}
.banner #tag {
    position: absolute;
    top: 0; left: -30px;
}
.banner #line-tag {
    width: 350px !important;
}
.banner .details {
    margin: 40px 0 0 235px; /*270*/
}
.banner p {
    color: #353535;
    font-size: 19.16px;
    width: 410px;
    margin-top: 10px;
    font-family: webfonts-bolditalic !important;
}
.banner ul {
    margin-left: -40px;
    margin-bottom: 0;
}
.banner ul li {
    list-style: none;
    line-height: 26px;
    font-size: 17.24px;
}
.banner ul li img {
    width: 24px;
    margin-top:-5px;
    margin-right: 10px;
}
.banner-1 {
    height: 430px;
    background: url(../../dc411ibrlpprl.cloudfront.net/prod-1.png) no-repeat;
    background-size: 100%;
}
.banner-1 h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #167dc7;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: webfonts-bold !important;
}
.banner-1 span {
    margin-top: 18px;
    color: #242424;
    display: block;
    font-size: 18px;
    font-family: webfonts-italic !important;
}
.banner-1 .details-1 {
    margin: 30px 0 0 0px;
    text-align: center;
}
.banner-1 p {
    font-family: webfonts-bolditalic !important;
    font-size: 30px;
    margin-bottom: 30px;
}
.banner-1 .button {
    font-size: 36px;
    padding: 10px 35px;
}

.banner-1 .top-img {
    text-align: left;
}

.banner-2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 77%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(77%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 77%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 77%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 77%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 77%); /* W3C */
    padding: 0 10px;
}
.banner-2 h1 {
    text-transform: uppercase;
    font-size: 21px;
    color: #167dc7;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: webfonts-bold !important;
}
.banner-2 span {
    margin-top: 0;
    color: #242424;
    display: block;
    font-size: 12px;
    font-family: webfonts-italic !important;
}
.banner-2 .details-1 {
    margin: 30px 0 0 300px;
    text-align: center;
}
.banner-2 p {
    font-family: webfonts-bolditalic !important;

    font-size: 15px;
    margin-bottom: 10px;
}
.banner-2 p.price {
    font-family: webfonts-condbold !important;
    font-size: 19px;
    color: #ff0000;
}
.banner-2 ul {
    font-family: webfonts-semibold !important;
    font-size: 13px;
    margin: 0 0 10px 15px;
    padding: 0;
    list-style: none;
}
.banner-2 li {text-align: left; position: relative;}
.banner-2 li:before {content: "\f00c"; font-family: FontAwesome; position: absolute; right: 101%; top: 0;}
.banner-2 .button {
    font-size: 19px;
    padding: 8px 25px;
    display: inline-block;
}
.banner-2 img {
    position: relative;
    top: -40px;
}
.banner-2.bottle img {
    top: 10px;
}

.footer-banner {
    background-color: #0b6cb1;
    margin-top: -106px;
    margin-bottom: 17px;
    color: #fff;
    padding: 5px 0 8px 20px;
}
.footer-banner h1 {
    font-size: 31px;
    /*font-family: webfonts-bold !important; */
    line-height: 0em;
}
.footer-banner span {
    font-size: 30px;
    line-height: 1em;
    font-weight: 100;
    font-family: webfonts-light !important;
    margin-top: -10px;
}
.footer-banner .button {
    margin-top: -28px;
    margin-left: 200px;
    font-size: 26px;
    padding: 28px 15px;
    width: 330px;
    position: absolute;
    font-family: webfonts-condbold !important;
}

a[id] {display: block; position: relative; top: -165px; visibility: hidden;}

/*Franco's created this new css rule to show the Norton image. Before this rule the image was hidden (for this rule "a[id]").*/
#buysafeseal_1_a {display: block; position: relative; top: 0; visibility: visible;}

.button {
    font-family: webfonts-condbold !important;
    border: 1px solid #e59100;
    border-radius: 3px;
    padding: 2px 25px; /*padding: 10px 25px; */
    font-weight: bold;
    color: #333;
    font-size: 26px;
    text-align: center;
    margin: 5px;
    background: #ffd65b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65b', endColorstr='#ffc000',GradientType=0 ); /* IE6-9 */
}



.button2 {
    font-family: webfonts-condbold !important;
    border: 1px solid #e59100;
    border-radius: 3px;
    padding: 10px 75px;
    font-weight: bold;
    color: #333;
    font-size: 26px;
    text-align: center;
    margin: 5px;
    background: #ffd65b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65b', endColorstr='#ffc000',GradientType=0 ); /* IE6-9 */
}
.button:hover {
    text-decoration: none;
    color: #333;
}
.testimonial .button {
    width: 100%;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    border: 1px solid #eee;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 57%, #e8e8e8 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffffff), color-stop(97%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 57%,#e8e8e8 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}
.order {
    padding: 5px;
}
/* end-banner */
/* content */
.content-1 {
    background: url(../../dc411ibrlpprl.cloudfront.net/content-1.png) no-repeat;
    background-size: 91% 100%;
    background-position: 75px 0;
}

.change-font p {
    font-size: 18px !important;
}
.feature-text p {
    font-size: 16px;
    line-height: 26px;
}
.feature-text h1 {
    font-family: webfonts-semibold !important;
    color: #0b6cb1;
    font-size: 30px;
    margin: 15px 0 17px 0;
    line-height: 30px;
}
.feature-text h1.program {font-size: 28px;}
.feature-text h2 {
    font-size: 20px;
    margin: 30px 0!important;
    font-family: webfonts-bolditalic !important;
}
.feature-text span {
    font-style: italic;
}

.feature-text-2 h1 {
    color: #0b6cb1;
    margin: 0 0 12px 0;
    font-size: 30px;
    text-align: center;
    font-family: webfonts-regular !important;
}
.feature-text-2 img {
    float: left;
    padding-right: 10px;
}
.feature-text-2 div {
    vertical-align: center;
    padding: 20px 45px 0 0;
    font-family: webfonts-italic !important;
    font-size: 17px;
}
.feature-text-2-1 {
    text-align: center;
    font-size: 18px;
    color: #333;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 57%, #e8e8e8 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffffff), color-stop(97%,#e8e8e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 57%,#e8e8e8 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 57%,#e8e8e8 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
    border: 1px solid #eee;
    padding: 30px 0 43px 0;
}
.feature-text-2-1 img {
    margin: 0 30px;
}
.feature-text-2-1 span {
    font-family: webfonts-italic !important;
    font-size: 24px;
}
.feature-text-2-1 h1 {
    font-style: normal;
    display: inline;
    font-size: 30px;
    margin: 0 30px 0 -20px;
}
.left-md {
    background-color: #f0f0f0;
    padding: 5px 0 20px 0;
}

.left-md div {
    margin-top: 5px;
    font-size: 16px;
    font-style: italic;
    padding: 0 5px 0 3px;
}
.left-md h1 {
    font-style: normal;
    font-family: webfonts-bold !important;
    font-size: 20px;

    margin: 0 !important;
}
.left-md + .col-md-8{
    padding: 1px 50px;
    margin-top: -10px;
}
.top-img-1{
    font-size: 12px;
    margin-right: -60px;
    color: #3c5a98;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}
.top-img-1 img{
    float: left;
    padding-right: 5px;
}
/* end-content */
/* add back pages */
.box {
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #ccc;
}
.box ul {
    list-style-image: url('../../dc411ibrlpprl.cloudfront.net/img_li.png');
}
.box ul li {
    padding: 10px 0;
}
.box h1 {
    color: #333;
    font-size: 34px;
    line-height: 34px;
}
.box span {
    display: block;
    font-style: italic;
    margin-bottom: 1px; /* 30*/
}
.box p {
    margin: 30px 0;
}
.box img {
    width: 100%;
}
.row-img img{
    width: 100%;
}
.row-img3 img{
    margin-top: -254px;
    position: absolute;
    right: 107px;
    width: 20%;
}
.row-img2 img{
    width: 275%;
}
.row-img #tag {
    position: absolute;
    width: 150px !important;
    margin: -30px 0 0 -45px;
}
.box-1 {
    border: 1px solid #ccc;
}
.box-1 ul {
    list-style-image: url('../../dc411ibrlpprl.cloudfront.net/img_li.png');
}
.box-1 ul li {
    padding: 10px 0;
}
.box-1 h3 {color: #0b6cb1; padding: 0 10px; font-style: italic; font-size: 18px; margin: 20px 0;}
.box-1 {background-color: #f7f7f7;}
.box-2 {
    background-color: #e3e3e3;
    padding-bottom: 20px;
}
.box-gray{
    background-color: #E3E3E3;
    /* For WebKit (Safari, Chrome, etc) */
    background: #E3E3E3 -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#E3E3E3)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #E3E3E3 -moz-linear-gradient(top, #E3E3E3, #E3E3E3) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E3E3E3, endColorstr=#E3E3E3) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E3E3E3, endColorstr=#E3E3E3)" no-repeat;
    padding-bottom: 20px;
}
.box-3 p{
    background-color: #fff;
    padding: 20px 10px;
    font-size: 16px;
}
.box-31 p{
    background: #ffd65b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65b', endColorstr='#ffc000',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e59100;
    padding: 20px 10px;
    font-size: 16px;
    height: 115px;
}
.box-3 a:hover {
    text-decoration: none;
}
.box-3 a p {
    font-weight: bold;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 6%, #ffffff 6%, #ffffff 41%, #ffffff 41%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#ffffff), color-stop(6%,#ffffff), color-stop(41%,#ffffff), color-stop(41%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 6%,#ffffff 6%,#ffffff 41%,#ffffff 41%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 6%,#ffffff 6%,#ffffff 41%,#ffffff 41%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 6%,#ffffff 6%,#ffffff 41%,#ffffff 41%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 6%,#ffffff 6%,#ffffff 41%,#ffffff 41%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.box-3 a p:hover {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 18px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 18px 0px rgba(50, 50, 50, 0.75);
}
.testimonial-text h1 {
    color: #0b6cb1;
    font-style: italic;
    border-bottom: 1px solid #ccc;
    width: 300px;
}
.testimonial-text h2 {
    font-weight: bold;
    font-size: 16px;
    width: 400px;
    margin: 0;
}
#before-after {
    float: left;
    width: 50%;
}
.contact-form h1 {
    color: #333;
    font-size: 20px;
}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    border:1px solid #ccc;
    border-radius:3px;
}
.contact-form input[type="submit"] {
    width: 100%;
    padding: 5px !important;
    margin: 0 !important;
}
.col-right h4{
    border-bottom: 1px solid #ccc;
    width: 150px;
    font-style: italic;
    font-size: 14px;
}
.col-right span {
    display: block;
    font-style: normal;
    font-size: 18px;
}
.save-row .col-xs-6{
    border: 1px solid #ccc;
    padding: 15px 0 15px 0;
    width: 49% !important;
    margin: 5px;
}
.col-xs-62{
    border: 1px solid #ccc;
    padding: 15px 0 15px 0;
    width: 49% !important;
    margin: 5px;
    padding-right: 100px;
}
.save-row img {
    width: 200px;
    float: left;
    padding: 0 15px;
}
.save-row  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.save-row  strike {
    font-size: 18px;
}
.save-row  strong {
    font-size: 20px;
    margin: 0 3px;
}
/* end-back-pages */
/* footer */
footer {
    background-color: #efefef;
    padding: 20px 0 !important;
}

.footer-0 ul {
    padding: 0;
    margin: 0;
    /*margin-top: -20px;*/
}
.footer-0 ul h2, .footer-0 h3 {
    font-size: 13px;
    font-family: 'webfonts-semibold' !important;
    color: #606060 !important;
    text-transform: uppercase;
}
.footer-0 ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-0 ul li a{
    font-size: 12px;
    color: #606060;
}
.footer-0 h1 {
    font-size: 16px;
    font-weight: bold;
}
.footer-0 .col-md-8 {
    border-right: 1px solid #c8c6c6;
    width: 62% !important;
}
.footer-0 .col-md-4 {
    margin-top: -20px;
    width: 38% !important;
}
.footer-0 .col-md-4 h1{
    font-weight: bold;
    font-size: 20px;
}
.footer-0 .col-md-4 form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline;
    margin: 5px;
    font-size: 14px;
    width: 46%;
    font-family: webfonts-italic !important;
}
.footer-0 .col-md-4 form input[type="submit"]{
    border: 1px solid #ffc000;
    border-radius: 3px;
    padding: 2px 25px;
    color: #333;
    font-family: webfonts-condbold !important;
    font-size: 20px;
    text-align: center;
    width: 95%;
    background: #ffd65b; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65b', endColorstr='#ffc000',GradientType=0 ); /* IE6-9 */
}
.footer-2 {
    font-size: 12px;
    color: #242424;
    opacity: 0.4;
}
.footer-2 .col-md-8 {
    font-style: italic;
}
.footer-2 .col-md-4 {
    text-align: right;
}
/* end-footer */
.graybox{
    padding: 10px;
    border: 5px solid #efefef;
    margin: 0px;
    background-color:#efefef;
}
.fcol1{
    float: left;
    width: 25%;
}
.colprod{
	border:1px solid #ccc;
	margin:6px;
	height: 158px;
	padding:16px;
}
.colprod2{
    border:1px solid #ccc;
    margin:6px;
    height: 357px;
    padding:16px;
}
#pspace{
    margin:19px;
}
.porder{
    padding: 0 !important;
    border: 1px solid #ccc;
    height: 267px;
    margin: 6px;
    padding: 16px;
    margin: 5px;
    padding: 15px 0;
    width: 98% !important;
}
#blue{
	color: #0b6cb1;
    font-family: webfonts-semibold !important;
    font-size: 20px;
    line-height: 26px;
    padding-right: 10px;
}
.container2 {
    max-width: 1000px !important;
    width: 965px !important;}
    .col-md-72{
       min-height: 1px;
       padding-left: 15px;
       padding-right: 15px;
       position: relative;

   }
   #azul{
      color: #0b6cb1;

  }
  .pchico{
    font-size: 13px;
    padding:0;
    color: gray;
}
#bad{
    width: 90px;
}
.esp{
    padding-top: 15px;
    padding-bottom:15px;
}
.col-md-5 {
    float: left;
    min-height: 12px;
    padding-right: 60px;
    position: relative;
}
.row2{
    padding-left: 100px;
}
/*
}
#up{
     margin-top: -31px;
     } */
     #made{
       margin-left: -34px;
   }
   .#tm{
    color: #888888;
    font-family: webfonts-italic;
    font-size: 15px;
}
#negro{
    color: black;
}

/* custom links for checkout page orderlinks */

a.orderlinks:link	{ border: solid 3px white; padding: 0px; display: block; margin: 3px; }
a.orderlinks:visited	{ border: solid 3px white; padding: 0px; display: block; margin: 3px; }
a.orderlinks:active	{ border: solid 3px orange; padding: 0px; display: block; margin: 3px; }
a.orderlinks:hover	{ border: solid 3px orange; padding: 0px; display: block; margin: 3px;}

/*  mousover effect for the button links */
a.buttonlinks:hover	{ color: #000000; text-decoration: underline; }

/* */
ul li.highlight span{font-size:14px; background:url(../../dc411ibrlpprl.cloudfront.net/arrow.png) no-repeat 0 0; width:5px; height:6px; top:22px; /* margin-left:2px; */ position:relative; /* display:inline-block; */}

/* Thank you */
.thankY{background:url(../../dc411ibrlpprl.cloudfront.net/thankyou_bg.jpg) no-repeat right top; width:100%; float:left; padding:0 0 68px 0;}
.thankY h1{font-size:100px; line-height:90px; color:#009342; text-transform:uppercase; padding:70px 0 0; margin:0;}
.thankY h2{font-size:30px; margin:0;}

.order-box{width:100%; float:left; border:1px solid #167dc6; color:#494949; font-size:14px; margin-bottom:40px; font-family:Arial, Helvetica, sans-serif;}
.order-box h2{background:#167dc6; color:#fff; font-size:20px; margin:0; padding:12px 0 12px 25px; float:left; width:100%;}
.order-box h2.head-new{font-family: webfonts-semibold}
.order-box h3{font-size:16px; text-transform:uppercase; margin:0; padding:0 0 8px 0;}
.order-box p{padding-bottom:8px; margin:0;}
.order-box-space{margin:20px 0; float:left;}
.order-box-margin{margin-left:5%;}
.bdr-right{border-right:1px solid #167dc6;}

/*.order-item{float:left; width:100%; padding:15px 0 0; border-bottom:1px solid #167dc6;}*/
.item-h .order-col-1, .item-h .order-col-2, .item-h .order-col-3{min-height: 241px;}
.order-col-1, .order-col-2, .order-col-3{border-right:1px solid #167dc6; text-align:center; padding:15px 0;}
.order-col-3{border:none;}
.order-item{float:left; width:100%;}
.order-heading{margin-top:15px;}
.order-heading, .order-product{border-bottom:1px solid #167dc6; float:left; width:100%; }
.order-product p span{font-size:26px; color:#167dc7; padding-left:20px;}
.order-product.last{border:none;}
.order-heading .col-md-8, .order-product .col-md-8{text-align:left; width:60%; padding-left:6.667%;}
.order-product h4{font-size:16px; margin:0; font-weight:bold;}


/*CSS by ashish*/
.banner .row{ position:relative;}
.left-img{float: left;padding: 0 !important;width: 91px;}
.right-pra {float: left;padding: 0 !important;width: 184px;}
.container-padd{ padding-bottom:20px; overflow:hidden;}
.banner2{ display:none;}
.banner2 img{ width:100%;}
.slicknav_menu{ display:none;}
.top-img-1-new{ display:none;}
.company-logo-top{ display:none;}
.new-btn-order{ display:none;}
.row-new{ margin-left:-15px; margin-right:-15px;}
.row-new2{ margin-left:-30px; margin-right:-30px;}
.row15{ margin-left:0px; margin-right:0px;}
.box-1{ padding-left:15px; padding-right:15px;}
.box-1_custom { min-height: 100px;}
ul li.highlight span{ display:none !important;}
.top-link li{ vertical-align:initial;}
.top-link li a{ vertical-align:initial;}
.shipping-method{box-sizing: unset;}
.rush-order2{ display:none;}



.col-container_ {
    display: table;
    width: 100%;
}
.col_ {
    display: table-cell;
    padding: 16px;
}


/*********************NEW UPSELL CSS************************/
.topHeadngCls {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 0 0;
}
.sealsMargin{
    margin-right:30%;
}
.halfWidth{
	width:50%;
	float:left;
}
.SealsFullouterdiv{
	width:100%;
	float:left;
}
.marginleftImgDiv {
    margin-right: 7%;
    padding-top:20px;
}

.footer-top ul {
    list-style-type: none;
    overflow: hidden;
    text-align:center;
}

.footer-top ul li {
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    border-right: 1px solid #c8c6c6;

}
/* Testimonials Male*/

.body-diff {
	float:left;
	width:100%;
}
.diff {
	float:left;
	width:100%;
}
.diff-2 {
	float:left;
	margin-top:250px;
}
.difference {
	float:left;
	position:relative;
}
.difference ul {
	float:left;
	list-style:none;
	padding-left:5px;
}
.difference li img {
	float:left;
	position:absolute;
}
.difference li:last-child img {
	float:left;
	margin-left:145px;
}
/** Alex added to match the index styles **/
.content-middle-top {
    margin: 0 auto;
    background: none repeat #f9f9f9;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    max-width: 960px;
}
.content-middle-top1 {
    max-width: 762px;
    margin: 0 auto;
    padding: 15px 15px 15px 0;
}
.content-middle-top-lft {
    max-width: 395px;
    padding-top: 5%;
}
.content-middle-top-rght {
    /*max-width: 330px;*/
    width: 40%;
    padding: 15px 0 15px 15px;
}
.col-md-6 .content-middle-top-rght {
    width: 100%;
}
.content-middle-top-lft h3 {
    font-family: 'opensans-semibold';
    margin: 0;
    font-size: 29px;
    color: #242424;
}
.left {
    float: left;
}
.right {
    float: right;
}
.boxnew ul, .blue-items {
    list-style-image: url('../../dc411ibrlpprl.cloudfront.net/ticke-blue.png');
}
.boxnew ul li {
    padding: 10px 0;
}

/**************************************/
/* PAGE 404 */
.error-404 {
    background: url('../../dc411ibrlpprl.cloudfront.net/newphen375/bkg-error404.jpg');
    background-size: cover;
    height: 450px;
}
.error-404 .content-404 {
    padding-left: 80px;
    padding-top: 30px;
}

.error-404 .content-404 h1.big {
    font-size: 120px;
    font-family: 'webfonts-bold'!important;
    font-weight: 800;
}

.error-404 .content-404 h2 {
    font-size: 36px;
}

.error-404 .content-404 p {
    font-size: 18px;
}

.error-404 .woman-image {
    padding-top: 50px;
}

.error404 .content h1{
    font-size: 100px;
}

@media (max-width: 473px){
    .content-middle-top-rght {
        float: none;
        max-width: inherit;
        padding-top: 10px;
        text-align: center;
        width: 95%;
    }
}
/** Alex Testimonails Content **/
.testimonial-text1 {
    margin-bottom: 1%;
    padding: 10px 5px;
    background: #DEF1FB;
}
.testimonial-text1 p{
    padding: 5px;
}
.testimonial-text1 span{
   font-size: 18px;
   font-weight: bold;
   padding-left:5px;
}
.testimonial h2 {
    font-size: 18pt;
    font-weight: normal !important;
}

.testimonial h2 span {
    font-weight: bold;

}
.testimonial-text1, .testimonial-text2 h2 span{
    font-weight: bold;
}

.testimonial-text2 {
    margin-bottom: 1%;
    padding: 10px 5px;
    background: #EDF6DE;
}
.testimonial-text2 p{
    padding: 5px;
}
.testimonial-text2 span{
    font-size: 18px;
    font-weight: bold;
    padding-left:5px;
}
.testimonialName{
    color: #0b6cb1;
    margin:0;
    padding-top:4px;
    text-align:center;
    font-weight:400;
}
.testimonialName span{
    font-weight:700;
}
.checkout_seal2{
    padding: 5px 5px 0 0;
}

.fullWidth {
    width: 100%;
}

.centerElementBlock{
    display: block;
    margin: 0 auto;
}

/*******************************************/
/**********Thankyou Page********************/
.containerThankyou-mainText{
    font-size: 80px;
    line-height: 90px;
    color: #009342;
    text-transform: uppercase;
    padding: 80px 0 0;
    margin: 0;
}

.containerThankyou-secundaryText{
    font-size: 28px;
    margin: 0;
}

.containerBill{
    margin: 20px 0 70px 0;
    border:1px solid #167dc6;
}

.containerBill-title{
    background: #167dc6;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 12px 0 12px 25px;
}

.containerBill-detail-title{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 0 8px 0;
}

.containerBill-item-img{
    padding-left: 44px;
}

.containerBill-item-img{
    padding-left: 44px;
}

.containerBill-item-text{
    font-size: 22px;
    color: #167dc7;
    /*padding-left: 20px;*/
}

.removeMarginBoostrap{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.tryMiddle{
    background: none repeat #f9f9f9;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 29px;
    box-sizing: border-box;
}


.font40 {
    font-size: 40px !important;
}


.bonus_title {
    min-height: 100px !important;    
    box-sizing: border-box;
    padding-top: 2px;
    margin-top: 20px;
}



@media only screen and (max-width: 479px){
    .content-middle-top-rght .button {
        font-size: 18px;
    }
}


@media only screen and (max-width: 768px){
    .thankY h1{
        font-size:40px;
    }

    .error-404 .content-404 {
        padding: 0 15px;
        text-align: center;
    }
}

@media only screen and (width: 768px) {
    #testimonial-guide .video-reward {
        top: 135px;
        right: 0;
        width: 40%;
    }

    .sticky-wrapper #menu {
        width: 1080px;
    }

    .top-img div:first-child {
        width: 125px;
    }

    .top-img div:nth-child(2) {
        width: 133px;
    }

    .top-img div:nth-child(3) {
        width: 110px;
    }

    .top-img div:last-child {
        width: 142px;
    }

    .main-banner h1.blue span:first-child {
        font-size: 46px;
    }

    .main-banner h1.blue span:nth-child(2) {
        font-size: 40px;
    }

    .main-banner h1.blue span:last-child {
        font-size: 34px;
    }

    .blue-bk .order-now a {
        display: block;
    }

    .blue-banner-text h2 {
        font-size: 24px;
    }
}


@media only screen and (width: 800px) {
    .sticky-wrapper #menu {
        width: 1100px;
    }

    .top-img div:first-child {
        width: 125px;
    }

    .top-img div:nth-child(2) {
        width: 133px;
    }

    .top-img div:nth-child(3) {
        width: 110px;
    }

    .top-img div:last-child {
        width: 142px;
    }

    .main-banner h1.blue span:first-child {
        font-size: 46px;
    }

    .main-banner h1.blue span:nth-child(2) {
        font-size: 40px;
    }

    .main-banner h1.blue span:last-child {
        font-size: 34px;
    }

    .blue-bk .order-now a {
        display: block;
    }

    .blue-banner-text h2 {
        font-size: 24px;
    }
}