/*SPH | Created by: Ing. Cesar Cordero*/
    .sectionBoxs__box{
        background: #f8f7f7;
        border: 1px solid #eae5e5;
        color: #8b8989;
        height: 100px;
    }

    .securyPurchase__box_shopping{
        border:none;
        background: black;
        color: white;
        font-weight: 800;
    }

    .securyPurchase__box__inner{
        height: 70px;
        width:100px;
    }

    .securyPurchase__box__inner > div > img{
        height: 32px;
        position: absolute;
        left: -7px;
        top: -4px;
    }

    .securyPurchase__box__inner > div > strong{
        padding-left: 22px;
    }

    .securyPurchase__box__inner--shopping{
        width: 100%;
        height: 60px;
        font-size: 26px;
        letter-spacing: 3px;
    }

    .securyPurchase__box__norton{
        border-radius: 22px 0 0 0;
        background: #FDB511;
        border:none;
    }

    .securyPurchase__box__inner--norton{
        height: 42px;
        width: 167px;
    }

    .securyPurchase__box__inner--norton > img{
        height: 42px;
        display: inline;
        vertical-align: bottom;
    }

    .securyPurchase__box__inner--norton > p{
        color: black;
        display: inline;
        font-size: 31px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        letter-spacing: -2px;
        vertical-align: bottom;
    }

    .securyPurchase__box__inner--norton > p > sup{
        font-size: 7px;
        vertical-align: super;
    }

    .securyPurchase__box__inner--shopping p:first-child{
        letter-spacing: 6px;
        padding-left: 5px;
        margin-bottom: -13px;
    }

    .securyPurchase__box__title{
        font-size: 18px;
    }

    .securyPurchase__box__body{
        font-size: 16px;
    }

    .amountCustomer{
        margin-top: 13px;

    }

    .amountCustomer__million{
        height: 54px;
        border-right: 2px solid #eae5e5;
    }

    .amountCustomer__amount > img{
        height: 46px;
    }

    .amountCustomer__amount > span{
        color: #ffd65b;
        font-size: 34px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        vertical-align: middle;
    }

    .amountCustomer__amountText{
        padding-left: 0px;
    }

    .amountCustomer__amountText p:first-child{
        margin-bottom: -13px;
    }

    .amountCustomer__amountText p{
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        font-weight: 800;
    }

    .surveysCustomers{

    }

    .surveysCustomers__survey{
        height: 54px;
    }

    .surveysCustomers__amount{

    }

    .surveysCustomers__amount > img{
        height: 46px;
    }

    .surveysCustomers__amount > span{
        color: #ffd65b;
        font-size: 33px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        vertical-align: middle;
    }

    .surveysCustomers__text{
        padding-left: 0px;
    }

    .surveysCustomers__text p:first-child{
        margin-bottom: -13px;
    }

    .surveysCustomers__text p{
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        font-weight: 800;
    }

    .customerMillion{
        height: 54px;
    }

    .customerMillion > div{
        height: 100%;
        float:left;
    }

    .customerMillion__img{
        width: 20%;
    }

    .customerMillion__img > img{
        height: 100%;
        margin: 0 auto;
    }

    .customerMillion__number{
        /*width: 34%;*/
        color: #ffd65b;
        font-size: 33px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        vertical-align: middle;
        line-height: 57px;
    }

    .customerMillion__text{
        /*width: 46%;*/
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 800;
        padding-left: 13px;
    }

    .customerMillion__text p:first-child{
        margin-bottom: -3px !important;
    }

    .sectionSpace{
        margin:10px 0;
    }

    .sectionCustomerMillion .customerMillion:first-child{
        border-right:1px solid #eae5e5;
    }

    .sectionCustomerHappy{
        max-width: 320px;
    }

    .sectionCustomerHappy__testimonial{
        background-color: #f8f7f7;
        padding: 14px;
    }

    .sectionCustomerCounter{
        background-color: #f8f7f7;
        padding: 17px;
    }

    .sectionCustomerCounter__text h4{
        font-size: 24px;
    }

    .sectionCustomerCounter__counter{

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .customerMillion__number{
            font-size: 27px;
        }

        .customerMillion__text{
            font-size: 16px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .customerMillion__number{
            font-size: 26px;
        }

        .customerMillion__text{
            font-size: 16px;
        }

        .sectionCustomerMillion .customerMillion:first-child{
            border-right:1px solid #eae5e5;
        }

        /*SPH | Modified by: Ing. Franco Salas*/
        .securyPurchase__box__inner--shopping{
            width: 100%;
            height: 60px;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: 3px;
        }

        .securyPurchase__box__inner--norton > p {
            font-size: 28px;
        }

        .customerMillion__text {
            padding-top: 12px;
        }

        .sectionCustomerCounter__text {
            text-align: center;
            padding-bottom: 20px;
        }
        /****************************************/

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        .customerMillion__number{
            font-size: 22px;
        }

        .customerMillion__text{
            font-size: 14px;
        }

        .sectionCustomerMillion .customerMillion:first-child{
            border-right:none;
            border-bottom:1px solid #eae5e5;
        }

        .counter-analog span.part span.digit {
            width: 32px;
        }
    }

    @media only screen and (max-width : 400px) {
        .customerMillion__number{
            font-size: 18px;
        }

        .customerMillion__text{
            font-size: 12px;
        }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
        .customerMillion__number{
            font-size: 15px;
        }

        .securyPurchase__box__inner--norton > p {
            font-size: 26px;
        }

        .securyPurchase__box__inner--shopping{
            font-size: 16px;
        }
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }
    @media (min-width: 768px) {
    .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }

    .mar-30 {
        margin: 30px 0;
    }