.guideLine{
    border:1px dashed gray;
}

.guideLine-red{
    border:1px dashed red;
}

.inlineBlock{
    display: inline-block !important;
}

.colorRed{
    color:red;
}

.colorGrey{
    color: grey;
}

.fullWidth{
    width: 100%;
    max-width: 100%;
}

.fullHeight{
    height: 100%;
    max-height: 100%;
}

.overContentRelative{
    position:relative
}

.overContent-fixed{
    position: fixed;
}

.overContent-fixedTop{
    position: fixed;
    top: 0;
    right: 0;
}

.overContent{
    position:absolute
}
.overContent-topCenter{
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-topLeft{
    top:0;
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-topRight{
    top:0;
    right:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-bottomCenter {
    right:0;
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-bottomRight{
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-bottomLeft{
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-centerAll{
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
.overContent-centerLeft{
    top:0;
    bottom:0;
    left:0;
    margin:auto
}

.overContent-centerRight{
    top:0;
    bottom:0;
    right:0;
    margin:auto
}

/*center div*/
.outerCenter{
    display:table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    margin-left: auto;
    margin-right: auto;
    /*width: *//*wharever width you want*/
}

.textCenter{
    text-align: center;
}

.displayBlock{
    display: block!important;
}

.centerBlock{
    display: block !important;
    margin: 0 auto;
}

.centerElementBlock{
    margin: 0 auto;
}

.noMargin{
    margin: 0 !important;
}
.noPaddingLateral{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.noPaddingLeft{
    padding-left: 0px !important;
}

.noPaddingRight{
    padding-right: 0px !important;
}

.noPadding{
    padding:0 !important;
}

.noMarginLateral{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.noMarginLeft{
    margin-left: 0px !important;
}

.noMarginRight{
    margin-left: 0px !important;
}

.noMarginTopBottom{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.fontWeightNormal{
    font-weight:normal;
}

.fontWeight800{
    font-weight: 800;
}

.fontWeight900{
    font-weight: 900;
}

.fontWeight300{
    font-weight: 300;
}

.fontWeight700{
    font-weight: 700;
}

.textLeft{
    text-align:left !important;
}

.marginAuto{
    margin:auto;
}

.backColor167dc7{
    background:#167dc7;
}

.colorWhite{
    color:white;
}

.uppercase{
    text-transform:uppercase;
}

.underline{
    text-decoration: underline;
}

.cursorPointer{
    cursor:pointer;
}


.packges__text___price {
    font-size: 25px !important;
}


.contnt > p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    line-height: 17px !important;
}

.packageImg__Bundled2 {
    max-width: 248px;
}


.content2-top-image1 {
    margin-left: 60px;
}

.content2-top-image2 {
    width: 130px;
}



.top_secureMovil {
    margin-top: 15px;
    display: none;
    width: 100%;    
}
.top_secureMovil li {
    /*border:1px solid blue;*/
    width: 49%;
}
.top_secureMovil li > img {
    max-width: 150px;
    margin: auto;
}

#top_secureMovil_img1 {        
    float: right;
    margin-right: 40px;
}
#top_secureMovil_img2 {
    float: left;
    margin-left: 40px;
}

#top_secureMovil_img1,
#top_secureMovil_img2 {
    max-width: 115px;
}


.btn_fake_close {
    display: none;
    /*background-image: url(https://cdn1.iconfinder.com/data/icons/line-mix-vol-3/128/-54-24.png);*/
    background-image: url(../../dc411ibrlpprl.cloudfront.net/cancel_red.png);    
    background-size: contain;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    z-index: 999;
}

.btn_fake_close-2 {    
    display: none;
    background-image: url(../../dc411ibrlpprl.cloudfront.net/cancel_red.png);    
    background-size: contain;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin: 5px;
    cursor: pointer;    
    /*z-index: 9999;   */
    position: absolute;
    top: 0px;
    right: 20px;
}


.bg-gray-footer {
    width: 100%;
    height: auto;
    background: gray;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .content2-top-left {
        max-width: 500px !important;
        width: 100% !important;               
    }
    .content2-top-image2 {
        width: 75px;
        margin: auto;
        margin-bottom: 20px;
    }
    .content2-top-image1 {        
        width: 100px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .logos1 > .lft  {
        width: 100% !important;
        max-width: unset !important;            
    }
    .logos1 {
        max-width: unset !important;
        width: 100% !important;

    }
    .content-top-logo {
        display: none;
    }
    .top_secureMovil {
        display: flex;
    }
    
    

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    

    .btn_fake_close-2 {
        display: unset;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #top_secureMovil_img1,
    #top_secureMovil_img2 {
        max-width: 100px;
    }

    #top_secureMovil_img1 {                
        margin-right: 10px;
    }
    #top_secureMovil_img2 {
        
        margin-left: 10px;
    }
    .no-row-1 {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}