@charset "utf-8";
/*====  Enter Your Website Name ======= */

/*====  iPad Portrait (768px) ======= */

@media only screen and (max-width:959px) {
    .footer-banner{ min-height:157px;}
    .banner h1{ font-size:32px;}
    .banner #span1{ font-size:28px !important;}
    .banner #span2{font-size: 23px !important; margin-bottom: 10px;}
    .banner #line-tag{width: 41% !important;}
    .pra01{ display:none;}
    .footer-banner h1{ text-align:center;}
    .footer-banner .button{ margin:40px auto; left:0px; right:0px;}
    .banner #tag {left: 28px;position: absolute;top: 41px;width: 93px;}
    .content-1 {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
    .container{ padding-left:15px !important; padding-right:15px !important;}
    .feature-text-2 div{ padding-left:25px; padding-right:25px;}
    .left-img{ width:100%; text-align:center;}
    .left-img img{ float:none;}
    .right-pra {text-align: center;width: 100%;}
    .banner-1 h1{font-size: 28px;}
    .banner-1 p{font-size: 24px;}
    .product-bg-lt{ min-height:400px;}
    .top-img-1{ margin-right:0px;}
    .max-nav li a{ font-size:13px;}
    .max-nav li:first-child {width: 6%;}
    .max-nav li:nth-child(2) {width: 15%;}
    .max-nav li:nth-child(3) {width: 17%;}
    .max-nav li:nth-child(4) {width: 12%;}
    .max-nav li:nth-child(5) {width: 5%;}
    .max-nav li:nth-child(6) {width: 13%;}
    .max-nav li {border-bottom: 3px solid #167dc7;border-top: 1px solid #eee;margin-bottom: 4px;padding: 0;text-align: center;  width:12%;
    }
    .top-link{ width:auto;}
    .container-new{ margin-left:15px !important; margin-right:15px !important;}
    body{overflow-x: hidden !important;}
    .row-new{ margin-left:-30px; margin-right:-30px;}
    .row-new2{ margin-left:-15px; margin-right:-15px;}
    .row-none .row{ margin-left:0px; margin-right:0px;}
    .row15{ margin-left:-15px; margin-right:-15px;}
    .pad-lt-rt{ padding-left:15px; padding-right:15px;}
    .feature-text h1 {font-size: 23px; margin-bottom: 6px;
        margin-top: 0;}
    .box span{ margin-bottom:10px;}
    .box p {margin: 12px 0;}
    .testimonial-text h1{ width:auto;}
    .footer-banner{ background:#0080cf;}
    .saying-box ul{ padding-bottom:0px;}
}
/*====  Mobile Landscape (480px) ======= */
@media only screen and (min-width:767px) {
    .containerMenuMobile{
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .top-link{ background:#e8e8e8; padding:8px 0px; width:100%; text-align:center; opacity: unset; margin-top:10px;}
    .pos-abs{position: absolute; top: 0px; width: 100%;}
    .pos-abs2{ position:absolute; top: 143px; width: 100%;}
    .mrg-top{ margin-top:50px;}
    .pos-abs2 div{ display:inline-block; text-align:center;}
    .top-img{ border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; padding-top:10px; padding-bottom:10px;}
    .container-new{ margin-top:68px;}
    .footer-banner h1 {font-size: 25px;line-height: 0;}
    .footer-banner span {font-family: webfonts-light !important;font-size: 27px;font-weight: 100;line-height: 1em;margin-top: -10px;
    }
    .right-pra {margin-bottom: 25px; margin-top:10px;}
    .feature-text-2-1 span {display: block;}
    .feature-text-2-1 img{ width:15%;}
    .feature-text-2-1 img {margin: 0 15px; margin-top:15px;}
    .feature-text-2-1 h1 {display: block;font-size: 30px;font-style: normal;margin: 0 0px 23px 0px;}
    .Ready-new{ background:#e5e5e5; padding-top:20px; padding-bottom:15px; margin-left:-15px; margin-right:-15px;}
    .feature-text-2-1{ padding-bottom:0px;}
    .feature-text-2-1 br{ display:none;}
    .left-md .row{ border-bottom:1px solid #fff;}
    .left-md .row:last-child{ border-bottom:0px;}
    .left-md + .col-md-8{ padding:0px; margin:0px;}
    .banner-1 .empty-box{ display:none;}
    .top-img-1 { font-size:15px;}
    .top-img-1 br{ display:none;}
    .text-align-center{ text-align:center; margin-top:10px;}
    .text-align-center img{ float:none !important;}
    .banner-1{ background: url(../../dc411ibrlpprl.cloudfront.net/new-bottle-bg.jpg) no-repeat center 164px; height:auto;}
    .banner-1 .button{ margin-top:238px; display:inline-block;}
    .display-none{ display:none;}
    .footer-0 .col-md-4{ width:100% !important;}
    .footer-2{ text-align:center; color:#000;}
    .footer-2 .col-md-4{ text-align:center; color:#000;}
    .footer-0 .col-md-4 h1{ text-align:center;}
    .footer-0 .col-md-4 form input{ width:48%;}
    .new-input{margin: 0 auto;width: 50%;}
    .banner{ display:none;}
    .banner2{ display:block;}
    .footer-banner{ margin-top:0px;}
    .pos-abs2{ display:none;}
    .logo-float{ float:left;}
    .slicknav_menu{ display:block;}
    .navbar{ display:none;}
    /* Menu mobile */
    .containerMenuMobile{
        background-color: #f9f9f9;
        display: block;
        height: 72px;
        padding-top: 10px;
    }

    table td img[name='seal'] {
        width: 80px;
    }

    .containerMenuMobile-btnOrderNow{
        margin-top: 5px;
        font-size: 17px;
        padding: 4px 8px;
    }

    #mc-embedded-subscribe-form input[name="FNAME"]{
        width: 100%;
    }

    #mc-embedded-subscribe-form input[name="EMAIL"]{
        width: 100%;
    }

    .containerMenuMobile-iconNorton{
        width: 18%;
    }

    .containerMenuMobile-iconNorton table {
        margin-left: -50px;
    }

    /*.company-logo-top{ display:block; margin-top:8px;}
    .company-logo-top img{ width:100%;}*/
    .new-btn-order{ display:block; margin-bottom:10px;  margin-top: 10px;}
    .new-btn-order img{ width:100%;}
    .highlight{ display:none !important;}
    .col-md-5{ float:none;}
    .row-img{ margin-top:20px; margin-bottom:20px;}
    .spacer {padding: 8px 0;}
    .feature-text-2-1 img:nth-child(3){ width:25%;}
    .top-img-1{ display:none;}
    .top-img-1-new{ display:block;}
    .top-img-1-new img{ width:96%;}
    .footer-2 .col-md-8{ margin-top:20px;}
    .footer-2 .col-md-4{ margin-top:20px;}
    .footer-banner .button{ font-size:22px;}
    .feature-text h4{ text-align:center;}
    .rush-order{ display:none !important;}
    .rush-order2{ display:block !important; text-align:center;}
    .rush-order2 img{ width:85%; margin-top:240px;}
    .shipping-method label{ width:100%;}
    .mobile-view-01{ margin-top:350px;}
    .mobile-view-02{ position:absolute; top:-666px;}
    .pos-rel{ position:relative;}
    .icon-img{ text-align:center;}
    .icon-img img{ margin-top:20px; display:inline;}
    .shipping-method span.new-one-01{ width:100%; text-align:center; display:inline-block;}
}

/*====  Mobile Portrait (320px) ======= */
@media only screen and (max-width:479px) {
    .new-input{margin: 0 auto;width: 70%;}
    .mobile-view-02{ position:absolute; top:-800px;}
    .mobile-view-01{ margin-top:400px;}
    .footer-0 .col-md-4 h1 {font-size: 15px;font-weight: bold;}
    .footer-0 .col-md-4 form input {width: 97%;}
    .top-img-1{ font-size:12px;}
    .top-img-1 { text-align:center;}
    .top-img-1 img{ width:40px; padding-left:0px;}
    .top-img-1 div{ width:auto !important; display:inline-block;}
    .banner-1 {background: url("../../dc411ibrlpprl.cloudfront.net/new-bottle-bg.jpg") no-repeat scroll center 144px rgba(0, 0, 0, 0);
        height: auto;}
    .banner-02 {background: url("../../dc411ibrlpprl.cloudfront.net/new-bottle-bg.jpg") no-repeat scroll center 204px rgba(0, 0, 0, 0);
        height: auto;}
    .banner-1 .button {
        font-size: 28px;
        padding: 10px 35px;
    }
    .banner-1 h1 {
        font-size: 21px;
    }
    .banner-1 p {
        font-size: 15px;
    }
    .feature-text h1 {font-size: 18px; line-height: 26px; margin: 15px 0 5px; color: #0080cf;}
    .change-font.feature-text h1{font-size:18px;}
    .feature-text h2 {font-size: 16px; margin-top:20px !important; margin-bottom:15px !important;}
    .feature-text h2 br{ display:none;}
    .change-font p{font-size: 16px !important;}
    .feature-text-2-1 h1{ font-size:18px;}
    .button{font-size:20px;}
    .feature-text-2-1 span{ font-size:18px;}
    .feature-text-2-1 img {margin: 15px 9px 0;}
    .feature-text-2 h1{font-size: 21px;}
    .footer-banner .button{padding: 17px 0; width: 235px; font-size: 16px; margin-top: 27px;}
    .footer-banner {min-height: 100px; padding-left:0px; margin-bottom: 0;}
    .footer-banner span{ font-size: 17px;}
    .footer-banner h1 {font-size: 15px; margin-top:11px;}
    .logo-float img{ width:96%;}
    #changLang{ width:66px;}
    #currchange{width:65px;}
    .top-link select{ font-size:11px;}
    .top-link li a{text-transform: none;}
    .left-md div{font-size: 14px;}

    .containerMenuMobile-btnOrderNow{
        margin-top: 14px;
        font-size: 16px;
        padding: 4px 8px;
    }

    .tryMiddle{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .tryMiddle-imgTry{
        width: 100%;
    }

    .security-img{
        width: 100%;
    }
    .tryMiddle-action{
        padding: 0;
    }
}

@media only screen and (max-width:390px) {
    .logo-float img{ width:75%;}
}