@charset "utf-8";
/*====  Enter Your Website Name ======= */

/*====  iPad Portrait (768px) ======= */

@media only screen and (max-width:959px) {
    .container.banner-1.mobile-dis {
      display: block;
    }
    /*.desk-dis{ display: none;}*/
    .container.content hr{ display: none;}

    .container_12, .container_16{ width: 100%;}
    .container_12 .grid_12, .container_16 .grid_16{ width: 100%;}

    .wysiwyg-content img { height: auto; width: 100%; }
    .power-head { margin-bottom: -18px !important; margin-top: -22px !important; }
    .table-part {
      width: 100% !important;
    }

    .outer-tabl-part > table{ width: 100%; overflow: auto; margin: 0;}
    .outer-tabl-part td {
      display: block;
      text-align: center;
      width: 100%;

    }
    .outer-tabl-part img {
      padding-bottom: 15px;
    }

    .outer-tabl-part div {
      padding: 0 !important;
    }

    body{overflow-x: hidden !important;}
}

/*====  Mobile Landscape (480px) ======= */
@media only screen and (max-width:767px) {
    .panel-default .panel-heading .panel-title > a{ background: url("../../dc411ibrlpprl.cloudfront.net/minuse-accord.png") no-repeat 0 3px; text-decoration: none; outline: none;
    padding-left: 20px;}
    .panel-default .panel-heading .panel-title > a.collapsed{ background: url("../../dc411ibrlpprl.cloudfront.net/plus-accord.png") no-repeat 0 3px;}
    .panel-default .panel-heading .panel-title > a{ display: table;}
    .feature-text p{ font-weight: 400; font-size: 15px; line-height: 23px;}
    .container_12 .grid_12, .container_16 .grid_16{ width: 94%;}
    .wysiwyg-content h2{ font-size: 13px; margin: 0;}
    .wysiwyg-content > div{ padding: 0 !important; width: 100% !important;}
    .wysiwyg-content strong{ font-size: 16px;}
    .wysiwyg-content h1{ line-height: 18px; padding: 0;}
    .wysiwyg-content ul{ margin: 0; padding-left: 14px;}
    .wysiwyg-content ul{ margin-left: 0 !important;}
    .digest-box-img { margin-top: -68px; padding-right: 0 !important; padding-bottom: 20px;}
    .lose-head { margin-bottom: -14px !important; margin-top: -44px !important; }
}

/*====  Mobile Portrait (320px) ======= */
/*---------style change------------*/

.mobile-dis{ display: none;}
.panel.panel-default {
  clear: both;
  content: "";
  display: block;
  overflow: hidden;
}
