/* Default */


/* Medium Layout: 1280px. */
@media only screen and (max-width: 1199px) { 
header .menu ul li a {
    padding: 10px 32px;
}
.hero-content h1 .extra-bold {
    font-size: 40px;
}

.hero-content h1 .text-2nd {
    font-size: 36px;
}

.hero-content h1 .text-3rd {
    font-size: 30px;
}

.hero-content ul li {
    font-size: 16px;
}

.pricing-area .col-md {
    padding: 15px 18px;
}
}
    

/* Tablet Layout: 992px. */
@media only screen and (max-width: 991px) { 
header .menu ul li a {
    padding: 10px 12px;
}

.header-bottom-link {
    font-size: 12px;
}

.header-bottom-link img {
    width: 21px;
}

.hero-content h1 .extra-bold {
    font-size: 28px;
    margin: 0;
    line-height: 1;
}

.hero-content h1 .text-2nd {
    font-size: 26px;
    line-height: 1;
}

.hero-content h1 .text-3rd {
    font-size: 22px;
    line-height: 1;
}

.hero-content ul li img {}

.hero-content ul li {
    font-size: 14px;
}

.single-item img {
    margin: 0;
    width: 65px;
    padding: 21px 8px;
}

.pricing-area .col-md {
    padding: 2px 4px;
}

.pricing-area .bg-orange h4 {
    font-size: 22px;
}

.pricing-area .bg-orange img {
    width: 30px;
}

.pricing-area .bg-black span {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

.count_img img {
    margin: 10px 1px;
}

.count_number {
    padding: 21px 6px;
    font-size: 25px;
}

.count-area {
    margin-top: 10px;
}

.order-count-area .col-md-6 {
    padding: 0 23px;
}

.img-div {
    width:  51px;
    margin: 0;
    padding: 13px 0 0 0;
}

.single-service .content {
    font-size: 18px;
}

.single-service .content .extra-bold {
    font-size: 25px;
}

.single-service {
    padding-bottom: 23px;
}

.font40 {
    font-size: 30px;
}

.margin-top-20 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 15px;
}
.text-input {
    width: 97%;
}

.call-to-action-area h2 {
    font-size: 27px;
}

.call-to-action-area .theme-btn {
    font-size: 20px;
    padding: 4px 9px;
    margin-top: 42px;
}

.margin-top-40 {
    margin-top: 20px;
}

.order-count ul li {
}
}



/* Mobile Layout: 768px. */
@media only screen and (max-width: 767px) { 
.header-bottom-link {
    font-size: 14px;
}

header .logo img {
    padding: 30px 0;
}
.hero-content h1 .extra-bold {
    margin-top: 28px;
}

.call-to-action-area .theme-btn {
    margin: 9px 119px;
    text-align: center;
}
.pricing-area .bg-orange .content {
    width: 141px;
    margin: auto;
    padding: 0;
}

.col-md.bg-orange {
    margin: 0 0;
    padding: 0 0;
}

.pricing-area .bg-orange .content {}

.pricing-area .col-md {
    border-bottom: 1px solid #dee2e6;
    padding: 8px 0;
}
.count_text p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.testimonial-area .sub-title {
    padding: 0 25px;
}

.order-count {
    float: left;
    margin-top: 20px;
}
span.footer-border {
    display: none;
}
.single-service {
    width: 47.5%;
    float: left;
    margin: 5px;
    font-size: 20px;
}
header .menu>ul {
    visibility: hidden;
    display: none;
}
.slicknav_menu {
    visibility: visible;
    display: block;
}
.header-bottom-link img {
    margin: 2px 15px 7px 0;
    padding: 0;
}
header .menu ul li a:after {
    display: none;
}

















}



/* Wide Mobile Layout: 576px. */
@media only screen and (max-width: 575px) { 
.header-top-link {
    display: block;
    text-align: center;
}

.header-top-link ul {
    display: block;
    text-align: center;
    float: none;
    margin: 0px 0 19px 0;
}

.header-bottom-link img {
    width: 42px;
    margin: 0;
    padding: 0 8px;
}

.header-bottom-link {
    margin-bottom: 10px;
}

.hero-area img {
    width: 212px;
}

.hero-content ul li {
    display: block;
}

.single-item img {
    margin: 0 22px;
    padding: 0;
}
.count_text {
    margin: 30px 0 0  0;
    padding: 0;
}
ul.slicknav_nav {

    width: 80%;

}

}




/* Wide Mobile Layout: 320px. */
@media only screen and (max-width: 435px) { 
.single-service{
	width:100%;
}
.count_text {
    margin: 3px 10px 26px 0;
    padding: 0;
}
}


/* Wide Mobile Layout: 320px. */
@media only screen and (max-width: 319px) { 

}