@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
/* pranay code starts */

@font-face {
    font-family: 'webfonts-regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'webfonts-semibold';
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'webfonts-bold';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: 'webfonts-light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'webfonts-italic';
    src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'webfonts-bolditalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'webfonts-condbold';
    src: url('../fonts/OpenSans-CondBold.ttf');
}
/*
body {
    font-family: webfonts_regular !important;
    font-size: 16px;
}
h1,h2,h3,h4,h5 {
    font-family: webfonts_semibold !important;
}
*/
/* pranay code ends */
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #0b6cb1;
}
.special-font img {
    width: 20px;
    height:auto;
}
ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

.section {
    position: absolute;
    right: 210vw;
    top: 15px;
    height: calc(100vh - 30px);
    background: #ddd;
    width: calc(100vw - 139px);
    transition: 0.4s;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto
}
.bold{
    font-weight: bold; 
}
.italic{
    font-style: italic; 
}
.header-top-link ul {
    float: right;
}
header .logo img {
    width: 100%;
    height: auto;
}
.header-top-link li a {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    padding: 1px 10px;
}
.header-top-link li{
    display: inline-block;
    position: relative;
}
.header-top-link li:after {
    position: absolute;
    content: "";
    height: 60%;
    width: 2px;
    background: #ddd;
    left: 0;
    top: 6px;
}
.header-top-link li:first-child:after, .header-top-link li:last-child:after {
    display: none;
}
header select {
    border: 1px solid #999;
    color: #999;
    padding: 0 12px;
    font-style: italic;
}

.header-top-link ul {
    margin: 7px 0;
}
.header-bottom-link img {
    float: left;
    margin-right: 5px;
    margin-top: 6px;
    width: 35px;
}
header .menu ul li a {
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 47px;
    position: relative;
    color: #333;
    font-weight: bold;
}

header .menu ul {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+48,c9c9c9+98,a0a0a0+99,9b9b9b+100,207cca+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 48%, #c9c9c9 98%, #a0a0a0 99%, #9b9b9b 100%, #207cca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 48%,#c9c9c9 98%,#a0a0a0 99%,#9b9b9b 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 48%,#c9c9c9 98%,#a0a0a0 99%,#9b9b9b 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}

header .menu ul li a:after {
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    background: #eee;
    content: "";
    top: 0;
}

header .menu ul {
    margin: 10px 0;
    display: inline-block;
    border-bottom: 2px solid #167dc7;
    border-top: 1px solid #eee;
}

.hero-content h1 .extra-bold {
    font-weight: 900;
    letter-spacing: 2px;
}

.hero-content h1 {
    line-height: 110%;
    text-transform: uppercase;
    font-size: 48px;
}
span.text-2nd {
    font-weight: 100;
}

.hero-content h1 span {
    display: block;
}

.hero-content h1 .text-2nd {
    font-size: 43px;
}

.hero-content h1 .text-3rd {
    font-size: 36px;
    font-weight: 100;
}

.hero-content img {
    width: 100%;
}

.hero-content p {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.hero-content ul li img {
    width: 18px;
    margin-right: 10px;
}

.hero-content ul li {font-size: 18px;}
body>.container {
    box-shadow: 0 128px 128px #ddd;
}

.hero-area {
    background: #f5f5f5;
}
.call-to-action-area {
    background: #167DC7;
}

.call-to-action-area h2 {
    padding: 15px 0 0 15px;
    color: #fff;
    font-weight: bold;
    margin: 0;
}

.call-to-action-area span {
    font-size: 30px;
    padding: 10px 0px 8px 13px;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    margin: 0;
}

.theme-btn {
    display: inline-block;
    border: 1px solid #e59100;
    border-radius: 3px;
    padding: 2px 24px;
    font-weight: bold;
    color: #333;
    font-size: 26px;
    text-align: center;
    background: #ffd65b;
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000));
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%);
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%);
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%);
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%);
}
.call-to-action-area .theme-btn {
    margin-top: 50px;
    display: inline-block;
}
.theme-heading {
    padding: 20px 0;
    color: #167dc7;
}
.single-item img {
    float: left;
    margin: 0px 30px;
    width: 80px;
}

.single-item p {
    padding-top: 5px;
    font-size: 19px;
}

.single-item {
    display: block;
    margin: 20px 0;
}
.font-20{
    font-size: 20px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.pricing-area .bg-orange img {
    width: 42px;
    float: left;
    margin: 0 3px;
}

.pricing-area .bg-orange h4 {
    float: left;
    margin: 5px 4px;
}

.pricing-area .bg-orange span {
    font-size: 10px;
}

.pricing-area .bg-orange {
    background: #fdb511;
    padding: 21px 0px;
}

.pricing-area .bg-black {
    background: #000;
    color: #fff;
}

.pricing-area .bg-black span {
    display: inline-block;
    font-size: 24px;
}
.pricing-area .bg-gray img {
    width: 29px;
}

.pricing-area .bg-gray {
    background: #f3f3f3;
}

.pricing-area .bg-gray span {
    padding: 0;
}

.pricing-area .bg-gray p {
    padding: 0px 10px;
    font-size: 16px;
    margin: 0;
}

.pricing-area .col-md {padding: 15px 35px;border-left: 1px solid #ddd;}
.pricing-area .bg-orange .content {padding: 22px 0 0 0;}
.pricing-area .row {
    width: 100%;
    margin: auto;
}
.pricing-area {
    border-radius: 40px 0 40px 0;
    overflow: hidden;
    border: 1px solid #ddd;
}
.count_img img {
    width: 54px;
    margin: 13px 16px;
    float: left;
}

.count_number {
    float: left;
    padding: 22px;
    font-weight: bold;
    font-size: 30px;
    color: #fdb511;
}

.count_text {
    float: left;
}

.count_text p {
    margin: 10px 0 0 25px;
    padding: 0;
    line-height: 1;
}
.count-area .col-md-6 {
    position: relative;
}

.count-area .col-md-6:first-child:after {
    position: absolute;
    height: 50%;
    width: 2px;
    background: #eee;
    content: "";
    right: 0;
    top: 17px;
}
.testimonial-area .sub-title {
    padding: 0 110px;
}
.testimonial-area .theme-heading {
    padding: 9px;
}

.single-testimonial {
    text-align: center;
    background: #F8F7F7;
    margin-top: 20px;
}

span.position {
    margin-top: 30px;
    padding-bottom: 8px;
    display: block;
}
.order-count-area .theme-heading {
    margin: 0;
    padding: 0;
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1;
}

.order-count-area .theme-heading span {
    font-weight: 400;
    display: inline-block;
    font-size: 22px;
}

.order-count ul li {
    color: #fff;
    padding: 12px 20px;
    margin: 0;
    border-left: 1px solid #fff;
}

.order-count ul {
    border: 5px solid #929292;
    background: #167dc7;
}

.order-count ul li:first-child {
    border: none;
}
.order-count {
    float: right;
}

.order-count-area {
    padding: 16px 0;
    background: #f8f7f7;
    margin: 20px 0;
}
.order-count-area .col-md-6 {padding: 0 70px;}
.img-div {
    width: 50px;
    margin: 0px 20px;
    float: left;
}

.single-service .content {
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
}

.single-service .content .extra-bold {
    font-size: 30px;
    display: block;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 1px;
}
.single-service {
    padding: 10px;
    background: #f8f7f7;
    display: flex;
}
.service-detail p {
    font-size: 18px;
}
.section-area .col-md-4 img {
}
.font40 {
    font-size: 40px;
    padding: 0 10px;
    font-weight: 900;
    word-spacing: 3px;
}
.width-100{
    width:100px;
}
.block {
    display: block;
}
.margin-auto{
    margin:auto
}
.width70{
    width: 70%;
}
footer h3 {
    font-size: 14px;
    font-family: 'webfonts-semibold' !important;
    color: #606060 !important;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul li a {
    font-size: 12px;
    color: #606060;
}
footer ul{
    margin-bottom: 20px;
}
footer ul li {
    display: block;
}
footer {
    padding: 40px 0;
    background: #eee;
}
.text-input {
    padding: 4px 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline;
    margin: 15px 4px 12px 0;
    font-size: 14px;
    width: 48%;
    font-family: webfonts-italic !important;
    font-style: italic;
}
.social-links img {
    width: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 4px;
}

.social-links {
    margin: 5px 15px;
}
footer form .theme-btn {
    font-size: 16px;
    width: 98%;
    padding: 3px 0;
}
.footer-bottom-text {
    font-size: 12px;
}

.footer-copy-right-text {
    font-size: 13px;
}

.footer-copy-right-text span {
    display: block;
    text-align: right;
}
.footer-border {
    width: 1px;
    height: 100px;
    background: #bdbdbd;
    margin-left: -2px;
}
.header-bottom-link {
    color: #3C5AA5;
}
.menu li.highlight {
    background: #ffd65b;
    background: -moz-linear-gradient(top, #ffd65b 57%, #ffc000 97%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(57%,#ffd65b), color-stop(97%,#ffc000));
    background: -webkit-linear-gradient(top, #ffd65b 57%,#ffc000 97%);
    background: -o-linear-gradient(top, #ffd65b 57%,#ffc000 97%);
    background: -ms-linear-gradient(top, #ffd65b 57%,#ffc000 97%);
    background: linear-gradient(to bottom, #ffd65b 57%,#ffc000 97%);
}
.blue{
    color: #167DC7;
}
header .menu ul li a:hover {
    color: #EE8407;
    background: transparent;
}
.menu li.highlight a:hover {
    color: #fff;
}
.margin-bottom-10{
    margin-bottom: 10px
}
.slicknav_menu {
    visibility: hidden;
    display: none;
}
a.slicknav_btn {
    width: 100%;
}

ul.slicknav_nav {
    position: absolute;
    z-index: 9;
    top: 43px;
    margin: 0;
    padding: 0;
    width: 50%;
    background: #fff !important;
}
.slicknav_btn {
    background: none;
}

.slicknav_menu {
    background: none;
}

.slicknav_menutxt {
    visibility: hidden;
    display: none;
    width: 0;
}

.slicknav_icon {
    border: 1px solid #ddd;
    padding: 5px 4px;
    height: 27px !important;
    width: 40px !important;
    text-align: center;
    margin: 0;
}

.slicknav_icon span {
    margin: auto;
}
ul.slicknav_nav {
    box-shadow: 0 0 48px #0000001a;
}

/*product page style*/
.maxslim-product-container {
    padding: 10px 20px;
}
.maxslim-product {
    border-color: #167DC7;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}
.maxslim-product .title {
    background: #167DC7;
    color: #ffffff;
    overflow: hidden;
    padding: 5px 13px;
}
.maxslim-product .title h2 {
    font-size: 26px;
    color: #ffffff;
}
.product-top {
    position: relative;
}
.product-top .best-value {
    position: absolute;
    right: 0;
    bottom: 0%;
}
.product-image {
    position: relative;
    text-align: center;
}
.product-image img {
    max-width: 90%;
    margin: 30px 0;
    height: auto;
    width: auto;
}
.totla-saving {
    background-image: url(../images/new-seal-generic.png);
    display: inline-block;
    padding: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    line-height: 1.2em;
    position: absolute;
    top: 15%;
    right: 0;
}
.text-small {
    font-size: 15px;
}
.product-thumbnail img {
    width: auto;
    height: auto;
}
.button img {
    width: auto;
    height: auto;
}
.product-thumbnail img {
    max-width: 200px;
}
/*product price*/
.product-price.col-md-4 span {
    color: #167DC7;
}
.sels-price.bold {
    font-size: 45px;
    color: green;
}






/*styling woocommerce checkout page*/
.maxslim-woocart {
    padding: 10px;
    background: #ffffff;
    color: #ffffff;
    font-family: webfonts-regular;
}
.maxslim-woocart h3 {
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
}
.woocommerce-billing-fields__field-wrapper p, .woocommerce-shipping-fields__field-wrapper p {
    background: #EFEFEF;
    color: #242424;
    overflow: hidden;
    padding: 10px 5px !important;
    display: block;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 49%;
    overflow: visible;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    min-width: 150px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-indent: 5px;
    overflow: hidden;
    height: 37px;
}
input[type="select"],input[type="tel"],input[type="email"]   {
    min-width: 150px;
    min-height: 35px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-indent: 5px;
}
#billing_address_2 , #shipping_address_2{
    float: right;
}
/*textarea*/
#order_comments {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    text-indent: 10px;
    padding-top: 10px;
}

.maxslim-woocart form input {
    font-family: "webfonts-regular" !important;
    font-size: 13px;
}

/*starting again */
.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    margin-bottom: 0;
}
#ship-to-different-address {
    margin-bottom: 8px;
}

.col-md-6.order-details .woocommerce-checkout-review-order {
    background-color: #ffffff;
    padding: 10px 4px;
    border: 1px solid lightgray;
    color: #242424;
}


.maxslim-woocart-container {
    color: #242424 !important;
}
.maxslim-woocart-container label {
    font-size: 12px;
}
#customer_details {
    background: #167DC7;
}

/*form input style layout*/
#billing_first_name_field, #billing_last_name_field , #shipping_first_name_field, #shipping_last_name_field {
    width: 100%;
}
.woocommerce-billing-fields__field-wrapper label {
    width: 25%;
    float: left;
    overflow: hidden;
}
.woocommerce-billing-fields__field-wrapper input {
    width: 75%;
    float: left;
    overflow: hidden;
}
/*shiping top*/
.shiping-top {
    background: white;
    padding: 10px 5px;
    margin-top: 10px;
    vertical-align: middle;
}
.shiping-top .col-md-6:first-child{
    text-align: right;
}
.shiping-top .col-md-6:first-child img {
    height: 50px;
}
.shiping-top img {
    width: 100px;
    height: auto;
}

.select2-selection.select2-selection--single ,.select2-selection.select2-selection--single .select2-selection__rendered {
    height: 33px;
    overflow: hidden;
    font-family: "webfonts-regular" !important;
    font-size: 13px;
}
#order_comments_field label {
    color: #ffffff;
}
.shop-page-titles {
    border-bottom: 1px solid #167DC7;
    text-transform: uppercase;
    font-size: 34px; 
    font-family: 'webfonts-regular';
}
.maxslim-product .title h2 {
    font-size: 26px;
    color: #ffffff;
}
.products {
    font-family: 'webfonts-regular';
}



.woocommerce form .form-row label {
    line-height: 2;
    margin: 2px 0;
    padding: 0 0 0 5px;
    width: 23%;
    float: left;
    overflow: hidden;
    vertical-align: middle;
}
.form-row input {
    width: 77% !important;
    float: left;
    overflow: hidden;
    max-width: unset;
}
.select2.select2-container {
    width: 77% !important;
    float: left;
}